@CHARSET "utf-8";
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin:0;padding:0;}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
textarea{ resize:none;overflow:auto;}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1400px){
	.container{
		width: 1000px;
	}
}

.my_head{
	position: relative;
	height: 40px;
	display: block;
	width: 100%;
	border-bottom: 1px solid #e0dede;
	box-shadow:0 -1px 0 #fefcfc inset, 0 0 4px rgba(0, 0, 0, .1);
}
.mod-banner {
    float: right;
    padding-top: 15px;
    padding-right:80px;
    position: relative;
    z-index: 1;
}
.setTop{
	font-size: 22px;
    height: 46px;
    line-height: 46px;
    padding-left: 20px;
    background: -webkit-linear-gradient(#fff,#f7f7f7);
    font-family: "microsoft yahei","\5FAE\8F6F\96C5\9ED1",Tahoma,Arial,Helvetica,STHeiti;
}
.customTainer{
	width: 960px;
	border: solid 1px #ededed;
	margin-top: 21px;
	color: #666;
}

div.setting-content {
    background: #f7f7f7;
    min-height: 640px;
    _height: 640px;
}
.clearfix {
    zoom: 1;
}
.setting-menu {
    float: left;
    width: 199px;
}
.setting-menu .menu-title {
    height: 39px;
    line-height: 38px;
    font-size: 14px;
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    border-right: 1px solid #e5e5e5;
    position: relative;
}
.setting-menu .menu-list .menu-item.on {
    background: #fff;
    border-right: 1px solid #fff;
}
.setting-menu .menu-list .menu-item {
    line-height: 34px;
    height: 35px;
    font-size: 12px;
    width: 198px;
    border-right: 1px solid #e5e5e5;
}
.setting-menu .active h3 {
    border-left: 4px #2e82ff solid;
}
.menu-title h3 {
    display: block;
    padding-left: 45px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -1px;
    height: 41px;
    width: 195px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.menu-list .menu-item a {
    margin-left: 45px;
    display: block;
    padding-left: 11px;
    background: none;
    color: #666;
}
.setting-detail{
	margin-left:2px;
	float: left;
	width: 78%;
	border:solid 1px #e5e5e5;
	min-height: 640px;
	display: block;
	background: #ffffff;
}

.setting-detail tr{
	vertical-align: top;
	border-color:inherit;
}
.setting-detail td {
    padding: 7px 0 8px;
}
.setting-detail button, input, select, textarea {
    font-size: 100%;
}

.mod-cus-sel {
	font-size: 12px;
    border: 1px solid;
    border-color: #d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8;
    box-shadow: 2px 3px 3px #f6f8f9 inset;
    height: 28px;
    float: left;
    cursor: pointer;
    margin-right: 10px;
    background: transparent url(../images/cussel_normal.png) no-repeat right center;
}
.cus-sel-opt-txt, .cus-sel-opt-panel {
    padding: 0 25px 0 10px;
    line-height: 28px;
    min-width: 65px;
    display: inline-block;
    white-space: nowrap;
}
.cus-sel-opt-ctn {
    background: #fff;
    /* display: block; */
    position: absolute;
    top: 29px;
    left: -1px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    border: solid #e5e5e5;
    border-width: 0 1px 1px 1px;
   	max-height: 300px;
}

.setting-submit-btn {
    border: none;
    border: 1px solid #5c8ebf;
    border: 0 none\9;
    border-radius: 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#75abda, endColorstr=#6698c9);
    background: -webkit-linear-gradient(#75abda,#6698c9);
    background: -moz-linear-gradient(#75abda,#6698c9);
    font-size: 14px;
    width: 68px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.setting-profile-form th {
    text-align: right;
    font-weight: normal;
    padding: 14px 10px 0 0;
    width: 90px;
}
.setting-profile-form td {
    padding: 7px 0 8px;
}

.cus-sel-opt-panel>li:hover{
	color:#ffff00; 
}

.mod-cus-input-242 {
    width: 242px;
}
.mod-cus-input {
    border: 1px solid;
    border-color: #d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8;
    box-shadow: 2px 3px 3px #f6f8f9 inset;
    outline: none;
    padding: 0 8px;
    width: 212px;
    height: 26px;
    font-size: 12px;
    line-height: 26px\0;
    padding: 1px 8px;
}
.setting-profile-form .profile-gender {
    margin: 0 25px 0 3px;
    vertical-align: middle;
}
.setting-submit-ml100 {
    margin: 13px 0 0 100px;
}
.setting-detail .setting-profile-title {
    font-size: 20px;
    color: #999;
    line-height: 1;
    padding: 11px 0 11px 11px;
    border-bottom: solid 2px #f2f2f2;
}
.yahei {
    font-family: "microsoft yahei","\5FAE\8F6F\96C5\9ED1",Tahoma,Arial,Helvetica,STHeiti;
}
.delete{
    background: #f7f7f7;
}
.mod-userbar-select div {
    position: absolute;
    right: 0;
    top: 20px;
    border: 1px solid #9b9b9b;
    box-shadow: 1px 1px 2px #ccc;
    background: #fff;
    display: none;
    width: 65px;
}
.mod-userbar li {
    float: left;
    margin: 0 5px;
    color: #ccc;
    height: 24px;
}
.mod-banner a {
    color: #000;
}