<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5" metadata-complete="false">
	<display-name>frame</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/spring.xml</param-value>
	</context-param>
	<!--Spring的ApplicationContext 载入 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防止内存泄露 -->   
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
    <listener>
    	<listener-class>com.springframe.WebContextInit</listener-class>
    </listener>
    
	<!-- 编码过滤器，以UTF8编码 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 配置SpringMVC框架入口 -->
	<servlet>
		<servlet-name>framemvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!--<servlet-mapping>
		<servlet-name>framemvc</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping> -->
 	<servlet-mapping>
		<servlet-name>framemvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping> 
	    <servlet-name>framemvc</servlet-name> 
	    <url-pattern>/app</url-pattern> 
	</servlet-mapping>
	<!-- 解决网站跨域访问 -->
	<filter>  
	    <filter-name>corsFilter</filter-name>  
	    <filter-class>com.frame.intercept.CorsFilter</filter-class>  
	    <init-param>  
	        <param-name>allowOrigin</param-name>  
	        <param-value>http://localhost:8082/cvf</param-value>  
	    </init-param>  
	    <init-param>  
	        <param-name>allowMethods</param-name>  
	        <param-value>GET,POST,PUT,DELETE,OPTIONS</param-value>  
	    </init-param>  
	    <init-param>  
	        <param-name>allowCredentials</param-name>  
	        <param-value>true</param-value>  
	    </init-param>  
	    <init-param>  
	        <param-name>allowHeaders</param-name>  
	        <param-value>Content-Type</param-value>  
	    </init-param>  
	</filter>  
	<filter-mapping>  
	    <filter-name>corsFilter</filter-name>  
	    <url-pattern>/*</url-pattern>  
	</filter-mapping>  

	<!-- 配置日志监听器 -->
	<context-param>  
	    <param-name>logbackConfigLocation</param-name>  
	    <param-value>classpath:config/logback.xml</param-value>  
	</context-param>
 	<context-param>
	   <param-name>log4jConfigLocation</param-name>
	   <param-value>classpath:config/log4j.properties</param-value>
	</context-param> 
 	<listener>
	   <listener-class>
			org.springframework.web.util.Log4jConfigListener
	   </listener-class>
	</listener>
 	<!-- 配置默认拦截 -->
	<filter>
		<display-name>pathAttriFilter</display-name>
		<filter-name>pathAttriFilter</filter-name>
		<filter-class>com.frame.intercept.AttriFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>pathAttriFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
 	<!-- 配置静态文件 -->
   	<!--<servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>/resources/*</url-pattern>  
    </servlet-mapping> -->
	<!-- 配置接口地址 -->
  	<servlet>
    	<servlet-name>cxfService</servlet-name>
    	<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    	<load-on-startup>2</load-on-startup> 
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>cxfService</servlet-name>
    	<url-pattern>/webservice/*</url-pattern>
  	</servlet-mapping>
    <!-- 备用  https请求 -->
<!-- 	<security-constraint>
        <web-resource-collection>
            <web-resource-name>SSL</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint> -->
    
    
	<!-- CKFinder -->
	<servlet>
		<servlet-name>CKFinderConnectorServlet</servlet-name>
		<servlet-class>com.frame.web.fileupload.CKFinderConnectorServlet</servlet-class>
		<init-param>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/ckfinder.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>configuration</param-name>
			<param-value>com.frame.web.fileupload.CKFinderConfig.java</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CKFinderConnectorServlet</servlet-name>
		<url-pattern>/resources/lib/ckfinder/core/connector/java/connector.java</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>FileUploadFilter</filter-name>
		<filter-class>com.ckfinder.connector.FileUploadFilter</filter-class>
		<init-param>
			<param-name>sessionCookieName</param-name>
			<param-value>JSESSIONID</param-value>
		</init-param>
		<init-param>
			<param-name>sessionParameterName</param-name>
			<param-value>jsessionid</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FileUploadFilter</filter-name>
		<url-pattern>/resources/lib/ckfinder/core/connector/java/connector.java</url-pattern>
	</filter-mapping>
	<!-- /CKFinder -->
		<!-- Validate code -->
	<servlet>
		<servlet-name>ValidateCodeServlet</servlet-name>
		<servlet-class>com.frame.web.ValidateCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateCodeServlet</servlet-name>
		<url-pattern>/servlet/validateCodeServlet</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.png</url-pattern>
	    <url-pattern>*.js</url-pattern>
	    <url-pattern>*.gif</url-pattern>
	    <url-pattern>*.css</url-pattern>
	</servlet-mapping>
	
    <welcome-file-list>
		<!-- <welcome-file>index.jsp</welcome-file> -->
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>