<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <typeAliases>
<!--         <typeAlias alias="CHARACTER_SETS" type="com.mybatis.pojo.CHARACTER_SETS"/>
        <typeAlias alias="COLLATION_CHARACTER_SET_APPLICABILITY" type="com.mybatis.pojo.COLLATION_CHARACTER_SET_APPLICABILITY"/>
        <typeAlias alias="COLLATIONS" type="com.mybatis.pojo.COLLATIONS"/>
        <typeAlias alias="COLUMN_PRIVILEGES" type="com.mybatis.pojo.COLUMN_PRIVILEGES"/>
        <typeAlias alias="COLUMNS" type="com.mybatis.pojo.COLUMNS"/>
        <typeAlias alias="ENGINES" type="com.mybatis.pojo.ENGINES"/>
        <typeAlias alias="EVENTS" type="com.mybatis.pojo.EVENTS"/>
        <typeAlias alias="FILES" type="com.mybatis.pojo.FILES"/>
        <typeAlias alias="GLOBAL_STATUS" type="com.mybatis.pojo.GLOBAL_STATUS"/>
        <typeAlias alias="GLOBAL_VARIABLES" type="com.mybatis.pojo.GLOBAL_VARIABLES"/>
        <typeAlias alias="INNODB_CMP_RESET" type="com.mybatis.pojo.INNODB_CMP_RESET"/>
        <typeAlias alias="INNODB_CMP" type="com.mybatis.pojo.INNODB_CMP"/>
        <typeAlias alias="INNODB_CMPMEM_RESET" type="com.mybatis.pojo.INNODB_CMPMEM_RESET"/>
        <typeAlias alias="INNODB_CMPMEM" type="com.mybatis.pojo.INNODB_CMPMEM"/>
        <typeAlias alias="INNODB_LOCK_WAITS" type="com.mybatis.pojo.INNODB_LOCK_WAITS"/>
        <typeAlias alias="INNODB_LOCKS" type="com.mybatis.pojo.INNODB_LOCKS"/>
        <typeAlias alias="INNODB_TRX" type="com.mybatis.pojo.INNODB_TRX"/>
        <typeAlias alias="KEY_COLUMN_USAGE" type="com.mybatis.pojo.KEY_COLUMN_USAGE"/>
        <typeAlias alias="PARAMETERS" type="com.mybatis.pojo.PARAMETERS"/>
        <typeAlias alias="PLUGINS" type="com.mybatis.pojo.PLUGINS"/>
        <typeAlias alias="PROCESSLIST" type="com.mybatis.pojo.PROCESSLIST"/>
        <typeAlias alias="PROFILING" type="com.mybatis.pojo.PROFILING"/>
        <typeAlias alias="REFERENTIAL_CONSTRAINTS" type="com.mybatis.pojo.REFERENTIAL_CONSTRAINTS"/>
        <typeAlias alias="ROUTINES" type="com.mybatis.pojo.ROUTINES"/>
        <typeAlias alias="SCHEMA_PRIVILEGES" type="com.mybatis.pojo.SCHEMA_PRIVILEGES"/>
        <typeAlias alias="SCHEMATA" type="com.mybatis.pojo.SCHEMATA"/>
        <typeAlias alias="SESSION_STATUS" type="com.mybatis.pojo.SESSION_STATUS"/>
        <typeAlias alias="SESSION_VARIABLES" type="com.mybatis.pojo.SESSION_VARIABLES"/>
        <typeAlias alias="STATISTICS" type="com.mybatis.pojo.STATISTICS"/>
        <typeAlias alias="TABLE_CONSTRAINTS" type="com.mybatis.pojo.TABLE_CONSTRAINTS"/>
        <typeAlias alias="TABLE_PRIVILEGES" type="com.mybatis.pojo.TABLE_PRIVILEGES"/>
        <typeAlias alias="TABLES" type="com.mybatis.pojo.TABLES"/>
        <typeAlias alias="TABLESPACES" type="com.mybatis.pojo.TABLESPACES"/>
        <typeAlias alias="TRIGGERS" type="com.mybatis.pojo.TRIGGERS"/>
        <typeAlias alias="USER_PRIVILEGES" type="com.mybatis.pojo.USER_PRIVILEGES"/>
        <typeAlias alias="VIEWS" type="com.mybatis.pojo.VIEWS"/> -->
        
        <typeAlias alias="SysArea" type="com.mybatis.pojo.SysArea"/>
        <typeAlias alias="SysAreaOrigin" type="com.mybatis.pojo.SysAreaOrigin"/>
        <typeAlias alias="SysConfig" type="com.mybatis.pojo.SysConfig"/>
        <typeAlias alias="SysDepartment" type="com.mybatis.pojo.SysDepartment"/>
        <typeAlias alias="SysDictDetail" type="com.mybatis.pojo.SysDictDetail"/>
        <typeAlias alias="SysDict" type="com.mybatis.pojo.SysDict"/>
        <typeAlias alias="SysFileUpload" type="com.mybatis.pojo.SysFileUpload"/>
        <typeAlias alias="SysLog" type="com.mybatis.pojo.SysLog"/>
        <typeAlias alias="SysMenu" type="com.mybatis.pojo.SysMenu"/>
        <typeAlias alias="SysOffice" type="com.mybatis.pojo.SysOffice"/>
        <typeAlias alias="SysOrganize" type="com.mybatis.pojo.SysOrganize"/>
        <typeAlias alias="SysOrganizeRelation" type="com.mybatis.pojo.SysOrganizeRelation"/>
        <typeAlias alias="SysRole" type="com.mybatis.pojo.SysRole"/>
        <typeAlias alias="SysRoleMenu" type="com.mybatis.pojo.SysRoleMenu"/>
        <typeAlias alias="SysRoleOfficeKey" type="com.mybatis.pojo.SysRoleOfficeKey"/>
        <typeAlias alias="SysSms" type="com.mybatis.pojo.SysSms"/>
        <typeAlias alias="SysSocial" type="com.mybatis.pojo.SysSocial"/>
        <typeAlias alias="SysUser" type="com.mybatis.pojo.SysUser"/>
        <typeAlias alias="SysUserRole" type="com.mybatis.pojo.SysUserRole"/>
        <typeAlias alias="SysSource" type="com.mybatis.pojo.SysSource"/>
        <typeAlias alias="SysApp" type="com.mybatis.pojo.SysApp"/>
        <typeAlias alias="SysElement" type="com.mybatis.pojo.SysElement"/>
    </typeAliases>

    <mappers>
    	<mapper resource="config/mybatis/SysAreaMapper.xml"/>
    	<mapper resource="config/mybatis/SysAreaOriginMapper.xml"/>
    	<mapper resource="config/mybatis/SysConfigMapper.xml"/>
    	<mapper resource="config/mybatis/SysDepartmentMapper.xml"/>
    	<mapper resource="config/mybatis/SysDictDetailMapper.xml"/>
    	<mapper resource="config/mybatis/SysDictMapper.xml"/>
    	<mapper resource="config/mybatis/SysFileUploadMapper.xml"/>
    	<mapper resource="config/mybatis/SysLogMapper.xml"/>
    	<mapper resource="config/mybatis/SysMenuMapper.xml"/>
    	<mapper resource="config/mybatis/SysOfficeMapper.xml"/>
    	<mapper resource="config/mybatis/SysOrganizeMapper.xml"/>
    	<mapper resource="config/mybatis/SysOrganizeRelationMapper.xml"/>
    	<mapper resource="config/mybatis/SysRoleMapper.xml"/>
    	<mapper resource="config/mybatis/SysRoleMenuMapper.xml"/>
    	<mapper resource="config/mybatis/SysRoleOfficeMapper.xml"/>
    	<mapper resource="config/mybatis/SysSmsMapper.xml"/>
    	<mapper resource="config/mybatis/SysSocialMapper.xml"/>
    	<mapper resource="config/mybatis/SysUserMapper.xml"/>
    	<mapper resource="config/mybatis/SysUserRoleMapper.xml"/>
    	<mapper resource="config/mybatis/SysSourceMapper.xml"/>
    	<mapper resource="config/mybatis/SysAppMapper.xml"/>
    	<mapper resource="config/mybatis/SysElementMapper.xml"/>
    	
        <!-- <mapper resource="config/mybatis/CHARACTER_SETSMapper.xml"/>
        <mapper resource="config/mybatis/COLLATION_CHARACTER_SET_APPLICABILITYMapper.xml"/>
        <mapper resource="config/mybatis/COLLATIONSMapper.xml"/>
        <mapper resource="config/mybatis/COLUMN_PRIVILEGESMapper.xml"/>
        <mapper resource="config/mybatis/COLUMNSMapper.xml"/>
        <mapper resource="config/mybatis/ENGINESMapper.xml"/>
        <mapper resource="config/mybatis/EVENTSMapper.xml"/>
        <mapper resource="config/mybatis/FILESMapper.xml"/>
        <mapper resource="config/mybatis/GLOBAL_STATUSMapper.xml"/>
        <mapper resource="config/mybatis/GLOBAL_VARIABLESMapper.xml"/>
        <mapper resource="config/mybatis/INNODB_CMP_RESETMapper.xml"/>
        <mapper resource="config/mybatis/INNODB_CMPMapper.xml"/>
        <mapper resource="config/mybatis/INNODB_CMPMEM_RESETMapper.xml"/>
        <mapper resource="config/mybatis/INNODB_CMPMEMMapper.xml"/>
        <mapper resource="config/mybatis/INNODB_LOCK_WAITSMapper.xml"/>
        <mapper resource="config/mybatis/INNODB_LOCKSMapper.xml"/>
        <mapper resource="config/mybatis/INNODB_TRXMapper.xml"/>
        <mapper resource="config/mybatis/KEY_COLUMN_USAGEMapper.xml"/>
        <mapper resource="config/mybatis/PARAMETERSMapper.xml"/>
        <mapper resource="config/mybatis/PLUGINSMapper.xml"/>
        <mapper resource="config/mybatis/PROCESSLISTMapper.xml"/>
        <mapper resource="config/mybatis/PROFILINGMapper.xml"/>
        <mapper resource="config/mybatis/REFERENTIAL_CONSTRAINTSMapper.xml"/>
        <mapper resource="config/mybatis/ROUTINESMapper.xml"/>
        <mapper resource="config/mybatis/SCHEMA_PRIVILEGESMapper.xml"/>
        <mapper resource="config/mybatis/SCHEMATAMapper.xml"/>
        <mapper resource="config/mybatis/SESSION_STATUSMapper.xml"/>
        <mapper resource="config/mybatis/SESSION_VARIABLESMapper.xml"/>
        <mapper resource="config/mybatis/STATISTICSMapper.xml"/>
        <mapper resource="config/mybatis/TABLE_CONSTRAINTSMapper.xml"/>
        <mapper resource="config/mybatis/TABLE_PRIVILEGESMapper.xml"/>
        <mapper resource="config/mybatis/TABLESMapper.xml"/>
        <mapper resource="config/mybatis/TABLESPACESMapper.xml"/>
        <mapper resource="config/mybatis/TRIGGERSMapper.xml"/>
        <mapper resource="config/mybatis/USER_PRIVILEGESMapper.xml"/>
        <mapper resource="config/mybatis/VIEWSMapper.xml"/> -->
    </mappers>

</configuration>