<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd ">
	<!-- 配置数据库连接 -->
	<bean id="sybaseDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		 <property name="driverClassName">    
            <value>${sybase.driverClassName}</value>    
        </property>    
        <property name="url">    
            <value>${sybase.url}</value>    
        </property>    
        <property name="username">    
            <value>${sybase.username}</value>    
        </property>    
        <property name="password">    
            <value>${sybase.password}</value>    
        </property>    
	</bean>
	<!-- 配置jdbc模板 -->
	<bean id="sybaseJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="sybaseDataSource" />
	</bean>
</beans>