<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
		http://www.springframework.org/schema/websocket 
		http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <bean id="hernateDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<property name="driverClassName">    
            <value>${jdbc.mysql.driverClassName}</value>    
        </property>    
        <property name="url">    
            <value>${jdbc.mysql.url}</value>    
        </property>    
        <property name="username">    
            <value>${jdbc.mysql.username}</value>    
        </property>    
        <property name="password">
            <value>${jdbc.mysql.password}</value>    
        </property>
	</bean>
	
	<bean id="hernateSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="hernateDataSource" ></property>
		<!-- <property name="mappingLocations" value="classpath:config/hibernate/*.xml"></property> -->
				<!-- 注入Hibernate的映射文件 -->
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:config/hibernate</value>
			</list>
		</property>
<!-- 		<property name="packagesToScan">
			<list>
			     <value>com.hibernate.pojo</value>
			</list>
		</property> -->
		<property name="hibernateProperties">
			<props>
				<!-- 设置数据库方言 -->
				<!-- mysql5.5需要如下设置数据库方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>  
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop> -->
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop> -->
				<prop key="hibernate.show_sql">true</prop>  
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">none</prop> 
			</props>
		</property>
	</bean>
	
		
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
  		<property name="sessionFactory" ref="hernateSessionFactory"></property>
  	</bean>
	
	<!-- 配置Spring声明式事务 -->
    <bean id="hernateTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="hernateSessionFactory"></property>
    </bean> 
    <!-- 配置事务事务属性 -->
    <tx:advice id="hbtxAdvice" transaction-manager="hernateTransactionManager">
        <tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" read-only="false"
                       rollback-for="java.lang.Exception"/>
            <tx:method name="remove*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>  
            <tx:method name="delete*" propagation="REQUIRED" read-only="false"
                       rollback-for="java.lang.Exception"/>
            <tx:method name="insert*" propagation="REQUIRED" read-only="false"
                       rollback-for="java.lang.Exception"/>
            <tx:method name="update*" propagation="REQUIRED" read-only="false"
                       rollback-for="java.lang.Exception"/>
            <tx:method name="save*" propagation="REQUIRED" read-only="false"
                       rollback-for="java.lang.Exception"/>
            <tx:method name="*" propagation="NOT_SUPPORTED" read-only="true" />
        </tx:attributes>
    </tx:advice>
    <!-- 配置事务切点，并把切点和事务属性关联起来 -->
    <aop:config>
        <aop:pointcut id="txPointcut" expression="execution(* com.hibernate.service.*.*(..))" />
        <aop:advisor advice-ref="hbtxAdvice" pointcut-ref="txPointcut"/>
    </aop:config>
     <!--  支持@Transactional注解 -->
<!--     <tx:annotation-driven transaction-manager="hernateTransactionManager"/> -->








	<bean id="sSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="sDataSource" ></property>
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:config/hibernate</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>  
				<prop key="hibernate.show_sql">true</prop>  
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">none</prop> 
			</props>
		</property>
	</bean>
	<bean id="shibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
  		<property name="sessionFactory" ref="sSessionFactory"></property>
  	</bean>
  	
  	
  	
  	<bean id="mSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="mDataSource" ></property>
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:config/hibernate</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>  
				<prop key="hibernate.show_sql">true</prop>  
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">none</prop> 
			</props>
		</property>
	</bean>
	<bean id="mhibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
  		<property name="sessionFactory" ref="mSessionFactory"></property>
  	</bean>
  	
</beans>