<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                            http://www.springframework.org/schema/context  
                            http://www.springframework.org/schema/context/spring-context-4.0.xsd  
                            http://www.springframework.org/schema/mvc  
                            http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
  
   <!-- Spring JavaMailSender -->
  <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="${email.host}"></property>
    <!-- 或许你可以用465端口，默认的25不适合 -->
    <property name="port" value="${email.port}"/>
    <property name="protocol" value="${email.protocol}"/>
    <property name="username" value="${email.username}"></property>
    <!-- 这里的是你在QQ邮箱发送开通SMTP短信后，获取的授权码 -->
    <property name="password" value="${email.password}"></property>
    <property name="defaultEncoding" value="${email.defaultEncoding}"/>
    <property name="javaMailProperties">
      <props>
        <prop key="mail.smtp.auth">${email.auth}</prop>
        <prop key="mail.smtp.timeout">${email.timeout}</prop>
      </props>
    </property>
  </bean>                       
                            
</beans>